<!doctype html>
<html style="background-color:#FFFFFF" lang='en'>
	<title>VocêQueSabe!</title>
	<h1 style="font-family:Sans-serif;font-size:150%" >Coloque o endereço que a gente decide por você!</h1>
	
	
	<h2 style="font-family:Sans-serif;font-size:100%">Qual é o seu endereço???</h2>

	<body>

		<form method="POST">
			<select name="time">
				{% for type in valid_types %}
				<option value="{{type}}">{{type.replace("_"," ").title()}}</option>
				{% endfor %}
			</select>
    		<input name="adress">
    		<input type="submit">
		</form>
	</body>

</html>
